<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewUser</servlet-name>
        <servlet-class>CreateNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <servlet-class>Cookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewUser</servlet-name>
        <url-pattern>/CreateNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/Cookies</url-pattern>
    </servlet-mapping>
    
</web-app>